{{#each this}}
<div class="photo-card">
  <a href="{{largeImageURL}}">
  <img class="img" src="{{webformatURL}}" alt="{{tags}}" loading="lazy"  width="250" height="200" />
  <div class="info">
    <p class="info-item">{{likes}}
      <b>Likes</b>
    </p>
    <p class="info-item">{{views}}
      <b>Views</b>
    </p>
    <p class="info-item">{{comments}}
      <b>Comments</b> 
    </p>
    <p class="info-item">{{downloads}}
      <b>Downloads</b>
    </p>
  </div>
  </a>
   </div> 
{{/each}}





